<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<h1> Get by ID in memos </h1>
<!-- Model을 통해 전달되는(model.addAttribute("memo", object_name)} memo 객체를 활용 -->
<table border="1" width="50%" height="50px">
    <tr>
        <td><span th:text="${data.seq}"></span></td>
        <td><span th:text="${data.id}"></span></td>
        <td><span th:text="${data.pw}"></span></td>
        <td><span th:text="${data.name}"></span></td>
        <td><span th:text="${data.email}"></span></td>
        <td><span th:text="${data.phone}"></span></td>
        <td><span th:text="${data.address}"></span></td>
        <form action="#" th:action="@{'/datas/' + ${data.seq}}" th:object="${data}" th:method="delete">
            <input type="submit" value="delete"/>
        </form>
    </tr>
</table>

</body>
</html>